.container-dashboard{
  margin-left: 18%;
  height: 100vh;
}

@media screen and (max-width: 1200px){
  .container-dashboard{
    margin-left: 23%;
  }
}

@media screen and (max-width: 1000px){
  .container-dashboard{
    margin-left: 25%;
  }
}

@media screen and (max-width: 920px){
  .container-dashboard{
    margin-left: 27%;
  }
}

@media screen and (max-width: 835px){
  .container-dashboard{
    margin-left: 20%;
  }
}
@media screen and (max-width: 780px){
  .container-dashboard{
    margin-left: 10%;
  }
}

.container-cards{
  display: flex;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card{
  height: auto;
  margin: 2rem 1rem 1rem 1rem;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.one{
  background-color: var(--orange);
}

.two{
  background-color: var(--pink);
}

.three{
  background-color: #3CB0E8;
}

.card-content{
  margin: 0.5rem;
}

.card-content i{
  font-size: 1.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 5px;
}

.card-content p{
  margin: 0.5rem;
  color: var(--white);
  font-weight: bold;
}

.digits{
  font-size: 2rem;
}

.container-graphs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50%;
  margin-top: 5%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.bar-container{
  background-color: var(--dark);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.pie-container{
  background-color: var(--dark);
  border-radius: 10px;
  height: 100%;
  width: 50%;
}

