@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,900&display=swap');

:root{
  --purple: #563c9f;
  --pink: #b081f1;
  --blue: #003f9e;
  --error: #EB5160;
  --yellow: #FFE66D;
  --dark: #1a203a;
  --dark-light: #262b49;
  --dark-bold: #585d7b;
  --success: #84DD63;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

@keyframes giro{
  from {transform: rotateZ(0deg);}

  to {transform: rotateZ(360deg);}
}

/*? NAV */

.header-nav{
  margin: 0;
  padding: 1em 0;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.custom-shape-divider-top-1641656050 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1641656050 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 137px;
}

.custom-shape-divider-top-1641656050 .shape-fill {
  fill: url(#MyGradient);
}
.nav-nav > ul{
  display: flex;
  list-style: none;
}

.nav-nav > ul > li{
  padding: 0 2.5rem;
}

.nav-nav > ul > li > a{
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffff;
  display: block;
  transition: 1s;
  font-weight: bold;
  padding-bottom: 0.2rem;
}
.nav-nav > ul > li > a::after{
  content: "";
  position: absolute;
  background: #ffff;
  height: 2px;
  width: 0;
  left:0;
  right: 0;
  bottom: 0;
  transition: 0.5s ease-out ; 

}

.nav-nav > ul > li > a:hover::after{
  left: 0;
  width: 125%;
  background: #ffff;
  /*background: linear-gradient(273deg, #003f9e 0%, rgba(58,63,158,1) 36%, rgba(90,63,158,1) 100%);*/
}

.logo-nav img {
  width: 10em;
  padding: 0 0 0 3em;
}

.logo-nav-res > img{
  display: none;
}

.menu-icon, .close-menu{
  color: #ffff;
  font-size: 1.5rem;
  text-align: right;
  margin-right: 2rem;
  display: none;
  cursor: pointer;
}



/*! NAV RESPONSIVE */

@media screen and (max-width: 658px){
  .logo-nav-res  img{
    display: inline-block;
    width: 5em;
    padding: 0 0 0 3em;
  }

  .logo-nav img {
    display: none;
  }

  .nav-nav {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    right: -100%;
    width: 70%;
    height: 100vh;
    z-index: 100;
    transition: 0.5s;
  }

  .nav-nav > ul{
    display: flex;
    flex-direction: column;
    
  }

  .nav-nav > ul > li {
    text-align: center;
    margin: 3rem 0;
  }

  .nav-nav > ul > li > a::after{
    display: none;
  }

  .nav-nav > ul > li > a:hover{
    background-color: rgba(0, 0, 0, 0.24);
  }

  .nav-nav > ul > li > a{
    cursor: pointer;
  }

  .menu-icon{
    display: block;
    padding-right: 1rem;
  }

  .close-menu{
    position: absolute;
    right: 24px;
    display: block;
    
  }

  .close-menu:hover{
    transform: rotate(90deg);
    animation-name: giro;
    animation-duration: 1s;
  }

  .show{
    right: 0;
  }

}




/*? INFO HEADER */

.content-header-info{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.info-header > h1{
  font-size: 4em;
  color: var(--purple);
  position: relative;
}


/*? FIX H1 */
@media screen and (max-width: 1013px){
  .info-header > h1{
    margin-top: 3rem;
  }
}

.info-header > h2 {
  padding: 1em 0 2em 0;
  word-wrap: break-Word;
}

.img-header > img{
  position: relative;
  z-index: -5;
  width: auto;
}

.button-index {
  font-size: 1.5em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
  color: white;
  border-radius: 1em;
  border: 1px ;
  background: linear-gradient(94deg, rgba(245,187,0,1) 0%, rgba(238,167,4,1) 46%, rgba(236,159,5,1) 100%);
  /*background: linear-gradient(332deg, rgba(176,129,241,1) 0%, rgba(118,85,189,1) 51%, rgba(86,60,159,1) 100%);*/
  /*background: linear-gradient(273deg, rgba(0,63,158,1) 0%, rgba(58,63,158,1) 36%, rgba(90,63,158,1) 100%);*/
  transition: 1s;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.363);  
}
.button-index:hover {
  transform: scale(1.2);
  transition: 1s;
}

.figure{
  z-index: 1;
  background: white;
  clip-path: polygon(15% 0%, 25% 0%, 0% 50%, 0% 25%);
  width: 100%;
  height: 250px;
  position: absolute;
  
}

/*! HEADER INFO - RESPONSIVE */

@media screen and (max-width: 800px){
  .content-header-info{
    padding-top: 2rem;
  }


  .img-header img{
    display: none;
  }

  .button-index {
    font-size: 1.5em;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    width: auto;
    padding: 10px 10px;
    color: white;
    border-radius: 1em;
    border: 1px ;
    background: linear-gradient(94deg, rgba(245,187,0,1) 0%, rgba(238,167,4,1) 46%, rgba(236,159,5,1) 100%);
    /*background: linear-gradient(332deg, rgba(176,129,241,1) 0%, rgba(118,85,189,1) 51%, rgba(86,60,159,1) 100%);*/
    /*background: linear-gradient(273deg, rgba(0,63,158,1) 0%, rgba(58,63,158,1) 36%, rgba(90,63,158,1) 100%);*/
    transition: 1s;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.363);  
  }
  .button-index:hover {
    transform: scale(1.1);
    transition: 1s;
  }


}



/*? Quiénes somos */

.acerca > h2{
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: var(--purple);
  font-weight: bold;

}

.acerca > h2::before{
  content: "";
  position: absolute;
  background: var(--purple);
  height: 2px;
  width: 12rem;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.container-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
}

.container-card > div{
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  padding: 0.5rem;
  height: 15rem;
}

.card1{
  background-color: #ffff;
  height: 100%;
  width: auto;
  text-align: center;
  color: #000000;
  background-image:linear-gradient(180deg, rgba(176,129,241,1) 0%, rgba(118,85,189,1) 46%, rgba(86,60,159,1) 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

.card1-image{
  background-image: url(../images/avatar1.png);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 50%;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 10%;
  border: 7px solid #ffff;
}
.card2{
  background-color: #ffff;
  height: 100%;
  width: auto;
  text-align: center;
  color: #000000;
  background-image:linear-gradient(180deg, rgba(176,129,241,1) 0%, rgba(118,85,189,1) 46%, rgba(86,60,159,1) 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

.card2-image{
  background-image: url(../images/avatar2.jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 50%;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 10%;
  border: 7px solid #ffff;
}

.card3{
  background-color: #ffff;
  height: 100%;
  width: auto;
  text-align: center;
  color: #000000;
  background-image:linear-gradient(180deg, rgba(176,129,241,1) 0%, rgba(118,85,189,1) 46%, rgba(86,60,159,1) 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

.card3-image{
  background-image: url(../images/avatar3.png);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 50%;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 10%;
  border: 7px solid #ffff;
}
.card4{
  background-color: #ffff;
  height: 100%;
  width: auto;
  text-align: center;
  color: #000000;
  background-image:linear-gradient(180deg, rgba(176,129,241,1) 0%, rgba(118,85,189,1) 46%, rgba(86,60,159,1) 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

.card4-image{
  background-image: url(../images/avatar4.jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 50%;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 10%;
  border: 7px solid #ffff;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover{
  transform: scale(1.1);
  transition: 0.5s; 
}

.card1:active, .card2:active, .card3:active, .card4:active{
  transform: scale(1);
  transition: 0.5s;
}

/*! Quiénes somos Responsive */
@media screen and (max-width: 860px){


.container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.acerca > h2{
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: var(--purple);
  font-weight: bold;
  margin-top: 1rem;

}

}

@media screen and (max-width: 500px){
  .container-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }

}
/*? Contacto */ 

#contacto{
  position: relative;
  
}

.container{
  background: linear-gradient(0deg, rgba(176,129,241,1) 0%, rgba(118,84,188,1) 55%, rgba(86,60,159,1) 100%);
}

.form-contact form{
  padding: 1em 2em;
  display: grid;
}

.form-contact input, .form-contact textarea {
  text-align: center;
  margin: 1em auto;
  color: #000000;
  outline: none;
  border-radius: 1em;
  border: none;
  padding: 0.5em;
  width: 80%;
  font-weight: bold;
}

.form-contact input:placeholder-shown{
  color: var(--pink);
}

.form-contact button{
  margin: 0 auto;
  width: 40%;
  height: 150%;
  background: #F5BB00;
  color: #ffff;
  border: none;
  text-decoration: none;
  font-weight: bold;
  transition: 1s;
}

.form-contact button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

.form-contact textarea{
  resize: none;
}

.form-contact > h2{
  position: relative;
  text-align: center;
  color: #ffff;
  font-size: 2rem;
  width: auto;
}

.form-contact > h2::before{
  content: "";
  position: absolute;
  background: #ffff;
  height: 2px;
  width: 11rem;
  bottom: 0px;
  left: auto;
  right: auto;
}


.custom-shape-divider-bottom-1641840117 {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641840117 svg { 
  display: block;
  width: calc(179% + 1.3px);
  height: 200px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1641840117 .shape-fill {
  fill: var(--purple);
}


.form-contact > form > input:focus, .form-contact > form > textarea:focus{
  border: #F5BB00 2px solid;
}

.success{
  border: var(--success) solid 2px !important;
}

.error{
  color: var(--error) !important;
  border: var(--error) solid 2px !important;
}

.error-msg{
  text-align: center;
  color: var(--error);
}

#send_email:disabled, #send_email[disabled]{
  background-color: #cccccc;
  color: #666666;
}