@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");


:root{

  --purple: #563c9f;
  --pink: #b081f1;
  --blue: #003f9e;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.fas{
  margin: 2rem;
  font-size:x-large;
  position: absolute;
  border: lightgray 3px solid;
  border-radius: 2rem;
  padding: 0.3rem;
}

.fas:active{
  color: var(--purple);
}
.container-padre{
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login{
  width: auto;
  box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.32);
  margin: 2rem;
  padding: 2rem;
}

.img-container img{
  width: 500px;
}

.form-container{
  text-align: center;
}

.form-container form{
  display: grid;
  justify-items: center;
  justify-content: center;
  bottom: 0px;
  float: none;
}

.form-container input{
  text-align: center;
  margin: 1em auto;
  color: #000000;
  outline: none;
  border: none;
  border-bottom: gray  solid 2px;
  padding: 0.5em;
  font-weight: bold;
  width: 92%;
}

.form-container input:focus{
  transition: 0.2s;
  border-bottom: var(--purple) solid 2px;
  color: var(--purple);
}

.form-container h1{
  color: var(--purple);
  font-weight: bolder;
  margin-top: 1rem;
}

.form-container button{
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--purple);
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.form-container button:hover{
  background-color: var(--pink);
  transition: 0.5s;
  
}