<IfModule mod_rewrite.c>
Options -Multiviews
Options All -Indexes
RewriteEngine On 
RewriteBase C:\xampp\htdocs\PHP\Crud 2v
RewriteCond %[REQUEST_FILENAME] !-d
RewriteCond %[REQUEST_FILENAME] !-f
RewriteRule ^(.+)$ index.html?url=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9/ñÑ]+)$ index.php?views=$1

</IfModule>