<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <a href="../views/index.html"><i class="fas fa-arrow-left"></i></a>
    <div class="container-padre">
      <div class="container-login">
        <div class="img-container">
          <img src="../images/login.svg" alt="">
        </div>
        <div class="form-container">
          <form action="">
            <h1>Inicio de sesión</h1>
            <input type="text" placeholder="Usuario">
            <input type="text" placeholder="Contraseña">
            <button>ENTRAR</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>