<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <input type="button" id="boton1" value="Click">
    <div id="resultado"></div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Jquery validation lib-->
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <!-- Sweet Alert-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- JS -->
  <script src="../libs/jqueryvalidation/validation.js"></script>
  <script src="../js/index.js"></script>
  <script src="../bootstrap/bootstrap.min.js"></script>
  <!-- Envio de datos a js -->
  <script src="../js/login.js"></script>
    
</body>
</html>